{%extends 'base/base.html'%}

{%block content%}
	<div class="container col s12 m12 z-depth-4 center" style="padding: 40px">

		<h1 class="red-text text-darken-2">Registro exitoso!!!</h1>
		<h3 class="indigo-text text-darken-1">Gracias por registrarte</h3>
		<p>Tu registro fue exitoso en unos dias te enviaremos un correo y/o mensaje de texto con mas informacion sobre los cursos, fechas de inicio, costos, horarios,etc.</p>
		<p>Los cursos seran impartidos en el Centro Comunitario de Aprendizaje de la localidad </p>
		<p>Si aun no has revisado los temas que tendran los cursos te invitamos a que los revises dando clic en el siguiente boton</p>
		<a class="waves-effect waves-light btn-large red darken-4"><i class="material-icons right">forward</i>Temario</a>

	</div>

	<br>
{%endblock%}